.remained {
    margin: 4rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.remained__photos {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    filter: brightness(70%);
}

.remained_img {
    width: 50%;
    height: 100vh;
    object-fit: cover;
}

.remained_img:first-child {
    transform: scaleX(-1);
    transform-origin: center;
    transform-box: fill-box;
}

.remained__container{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.remained__last_time {
    width: 100%;
}

.remained__date {
    font-family: Pacifico, serif;
    font-size: 3rem;
    text-align: center;
    color: #ec918d;
}

.remained__text {
    margin: 2rem 0 1rem 0;
    font-family: EB Garamond,serif;
    font-weight: 600;
    font-size: 3rem;
    color: #e3dcdc;
    text-align: center;
}

.remained__days {
    padding: 1rem 0;
    font-family: EB Garamond,serif;
    font-weight: 600;
    font-size: 3rem;
    color: #e3dcdc;
    text-align: center;
}

.remained__line {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #ec918d;
    margin: 1em 0;
    padding: 0;
}

.remained__time {
    margin: 1rem 0;
    font-family: EB Garamond,serif;
    font-weight: 600;
    font-size: 3rem;
    color: #e3dcdc;
    text-align: center;
}

.remained__text,
.remained__days,
.remained__time{
    text-shadow: 1px 1px 1px #8d5855, 0 0 1em #ec918d, 0 0 0.2em #ec918d;
}

@media (max-width: 1000px) {
    .remained,.remained__photo {
        height: 100vh
    }

    .remained {
        justify-content: center;
    }
    .remained_img {
        width: 100%;
    }
    .remained_img:first-child {
        display: none;
    }
}

@media (max-width: 360px) {
    .remained__container {
        padding: 2rem
    }
    .remained__date,
    .remained__text,
    .remained__days,
    .remained__time {
        font-size: 2rem;
    }
}